@charset "UTF-8";
* {
  font-family: 微軟正黑體;
}

body {
  height: 1000px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

header.jumbotron {
  height: 500px;
  margin-bottom: 0px;
  text-align: center;
  background-image: url(https://www.elle.com.hk/var/ellehk/storage/images/celebrity/feature/satomi-ishihara-boyfriends/25817174-2-chi-HK/_1_img_885_590.png);
  background-size: cover;
  mix-blend-mode: multiply;
  background-attachment: fixed;
}
header.jumbotron .container {
  color: #f7a779;
  padding: 100px 100px;
}
header.jumbotron hr {
  max-width: 300px;
}
header.jumbotron h4 {
  color: rgba(255, 255, 255, 0.8);
}

section {
  padding: 50px 0px;
}

section#section_ask {
  background-color: #fff;
}
section#section_ask .col-sm-5.img {
  background-image: url(https://popbee.com/image/2018/05/%E7%9F%B3%E5%8E%9F%E9%87%8C%E7%BE%8E.jpg);
  height: 300px;
  background-size: cover;
  mix-blend-mode: multiply;
}
section#section_ask h2 {
  margin-top: 130px;
  padding: 0px 20px;
}
section#section_ask section#section_about img {
  width: 50%;
}
section#section_ask section#section_about .img_wrap {
  height: 100px;
  overflow: hidden;
}
