nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href="#") 小惡魔
    .nav.navbar-nav.navbar-right
      li
        a(href="#section_ask") 引言 INTRO
      li
        a(href="#section_about") 關於 ABOUT
      li
        a(href="#section_video") 影片 VIDEO
      li
        a(href="https://zh.wikipedia.org/wiki/%E7%9F%B3%E5%8E%9F%E8%81%B0%E7%BE%8E") WIKI 石原
header.jumbotron
  .container
    h1 石原さとみ
    hr
    h3 Ishihara Satomi
section#section_ask
  .container
    .row
      .col-sm-5.img
      .col-sm-7
        h2 奮鬥人生
        h4 人生當中沒有什麼是徒勞無功的事情。就算得不到別人的讚美，也得不到任何的認同，我都想盡自己的全力，將能力所及的事全部都做到。所以，我現在要去做，所謂徒勞無功的事。
section#section_about
  .container
    .row
      .col-sm-12
        h1 關於
        hr
      .col-sm-4
        .img_wrap
        img(src="https://goo.gl/vR1dCW", alt="")
        h3 藝名由來
        p 「石原」來自於「原石」的相反寫法，「聰美」（聡美）意為「聰明又美麗」，因姓名學緣故而用平假名「さとみ」表示。所以中文圈應翻譯「聰美」以符合原意，且其Line中文官方帳號亦採「石原聰美」。<br>因成名當時中文媒體不知其命名典故，遂將「さとみ」譯為「里美」至今。台灣蘋果日報等媒體亦有使用此譯名。
      .col-sm-4
       .img_wrap
        img(src="https://gss0.baidu.com/7Po3dSag_xI4khGko9WTAnF6hhy/zhidao/wh%3D450%2C600%3B/sign=3cc07bbff91fbe091c0bcb105e502005/3ac79f3df8dcd100fdaabce8798b4710b8122fc0.jpg", alt="")
        h3 簡介
        p 興趣及特殊才藝是古典芭蕾、嘻哈舞、籃球、網球、中國古琴、鋼琴。喜歡歌手是GLAY、柚子。喜歡越南料理，且多次在節目中表示自己很喜歡香菜。在節目中說過自己幾乎每天都會做飯。<br><br>日本排行榜，從「如果她結婚我就罷工」、「最有女人味的女星」、「最想接吻的對象」到「最想成為的明星臉蛋」，第一名全都是石原里美
      .col-sm-4
       .img_wrap
        img(src="https://resource01.ulifestyle.com.hk/res/v3/image/content/1895000/1899250/08JLB001path__20170908_L.jpg", alt="")
        h3 優秀作品
        p 失戀巧克力 （2014年1月13日-2014年3月24日、CX） - 吉岡紗繪子<br>我妹是惡魔（2014年10月16日-2014年12月18日、CX） - 主演・深澤美咲（與松下奈緒雙主演）<br>朝5晚9～俊俏和尚愛上我～（2015年10月12日-2015年12月14日，CX） - 主演・櫻庭潤子<br>校對女王（2016年10月-2016年12月，NTV）-主演 · 河野悅子<br>法醫女王 (2018年1月12日，TBS）-主演 · 三澄美琴
        
  section#section_video
    .container
      .row
        .col-sm-12
          h1 如何從默默無名 到爆紅人生  石原さとみ
          hr
        .col-sm-12
          .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src="https://www.youtube.com/embed/nuA9tGX_Awo" allowfullscreen="")